.container {
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 300px;
    width: 350px;
    padding: 20px;
    border-radius: 90px;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    margin-left: 450px;
    margin-top: 170px;
    border-color: blue;
    border: 20px;
}

.input-Value {
    width: 150px;
    height: 25px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    margin-left: 30px;
}

#inches {
    margin-left: 15px;
}

#submit {
    width: 120px;
    height: 35px;
    font-size: 25px;
    margin-left: 90px;
    background-color: blue;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#submit:hover {
    background-color: whitesmoke;
    color: blue;
}

/* #result {
    margin-top: 280px;
    margin-left: 70px;

} */